* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
}
/*
 *Banner Section Style start
 */
.banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../images/donation13.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 695px;
}
.banner-text {
	padding-top: 18%;
	text-align: center;
	color: #ffffff;
}

.banner-text h1 {
	font-size: 65px;
	font-weight: 700;
}
.banner-text p {
	font-size: 18px;
	margin-top: 10px;
	font-weight: 400;
}
.donate-btn {
	text-decoration: none;
	color: #ffffff;
	background-color: #ff5959;
	padding: 12px 30px;
	margin-top: 25px;
	display: inline-block;
	border-radius: 6px;
}
/*
 *Banner Section Style end
 */
/*
 *Donate Section Style Start
 */
.donate {
	padding: 100px 300px;
}
.donate-text {
	text-align: center;
}
.donate-text h2 {
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 30px;
}
.donate-taka {
	display: flex;
	margin: 40px 0;
	justify-content: center;
}
.taka {
	margin-left: 15px;
	padding: 35px 25px;
	background-color: #cfcccc;
}
#bg-200 {
	background-color: #cf7d7da6;
	border: 2px solid #ff5959;
}
.donate-input {
	padding-top: 50px;
	text-align: center;
}
#donate-number:visited,
#donate-number:active,
#donate-number {
	border: none;
	border-bottom: 1px solid #ddd;
	display: block;
	margin: 0 auto;
	box-shadow: none;
	outline: none;
	width: 700px;
	text-align: center;
	padding-bottom: 10px;
	font-size: 20px;
}
/*
 *Donate Section Style end
 */
